
.icon-github:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-cancel-1:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-pencil-1:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-attach:before { content: '\f06a'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
